.form_control {
  display: flex;
  flex-direction: column;
  border: solid 1px #333;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 1em;
  width: 15em;
}

.form_control label {
  /* margin-bottom: 0.6em; */
  font-weight: bold;
}

.input_container {
  position: relative;
  display: flex;
  align-items: center;
}

.input_container input {
  /* padding: 0.7em; */
  /* border-radius: 0; */
  border: none;
  flex: 1;
  z-index: -1;
}

.input_container input::placeholder {
  /* color: #000; */
  font-size: 1.2em;
}

.eye_icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
  color: #000;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  z-index: 1;
}

.input_container input:focus {
  outline: none;
}
