/* .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
} */

.container {
  display: flex;
  flex-direction: column;
  border: solid 1px #333;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 1em;
  width: 15em; /* igual ao Input */
  position: relative; /* para a seta */
}

.container label {
  margin-bottom: 0.3em;
  font-weight: bold;
}

/* .container select {
  display: flex;
  align-items: center;
  width: 14em;
  height: 3em;
  border: solid 1px #333;
  border-radius: 20px;
  justify-content: center;
} */

.container select {
  border: none;
  width: 100%;
  font-size: 0.8em;
  background: transparent;
  padding: 0.4em 1.8em 0.4em 0;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6 9l6 6 6-6' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.25rem center;
  background-size: 1.3rem;
}

.container select:focus {
  outline: none;
}

/* .container::after {
  content: "▾";
  position: absolute;
  right: 12px;
  top: calc(50% + 0.5em);
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.9em;
  color: #333;
} */

.container option {
  width: 100%;
  font-size: 1em;
}
