.container {
  padding: 20px;
}

h2 {
  margin-top: 20px;
}

.invitation {
  display: flex;
  align-items: center;
  /* width: 100%; */
  min-width: 10em;
  justify-content: space-between;
  border: 1px solid #333;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin: 0.5em 0;
  min-width: 13em;
}

/* .invitation p, .team-invitation p {
  margin: 5px 0;
} */

.buttons {
  display: flex;
  align-items: center;
}

.approve {
  color: white;
  font-size: 25px;
  /* background-color: black; */
  background-color: #4CAF50;
  border-radius: 20px;
  /* margin-left: .5em; */
}

.cancel {
  margin-right: .3em;
  font-size: 30px;
  color: #f44336;
}
